@import "Base/Typography";
@import "Base/Variables";
@import "Base/Loader";
@import "Pages/Header";
@import "Pages/Footer";
@import "Pages/Accueil";
@import "Pages/Menu";

body{
    width: auto;
    margin: 0;
    h1,h2{
        margin: 0;
    }
}