@import "Base/Typography";

@media screen and (max-width: 767px){

    body{
        width: auto;
        margin: 0;
        h1,h2{
            margin: 0;
        }
    }
    /*loader*/
    @keyframes loadspin{
        0%, 90% {
          opacity: 1;
          z-index: 20;
        }
        0%, 100% {
          height: 100%;
          width: 100%;
        }
      }
    @keyframes spinner{
        0%{opacity: 1;}
        100%{opacity: 0;}
    }
    .parent-spinner{
        position: fixed;
        width: 0;
        height: 0;
        background: #9356DC;
        opacity: 0;
        animation: loadspin 3s;
        }
    .loading-spinner{
        width: 100%;
        height: 100%;
        background: #9356DC;
        div{
        box-sizing: content-box; 
        left: 50%;
        top: 50%;
        position: absolute;
        animation: spinner 1s linear infinite;
        width: 12px;
        height: 24px;
        border-radius: 6px / 12px;
        transform-origin: 6px 52px;
        }
        .spin1{
            transform: rotate(0deg);
            animation-delay: -0.9166666666666666s;
            background: #ff79da;
        }
        .spin2{
            transform: rotate(30deg);
            animation-delay: -0.8333333333333334s;
            background: #ff79da;
        }
        .spin3{
            transform: rotate(60deg);
            animation-delay: -0.75s;
            background: #ff79da;
        }
        .spin4{
            transform: rotate(90deg);
            animation-delay: -0.6666666666666666s;
            background: #ff79da;
        }
        .spin5{
            transform: rotate(120deg);
            animation-delay: -0.5833333333333334s;
            background: #ff79da;
        }
        .spin6{
            transform: rotate(150deg);
            animation-delay: -0.5s;
            background: #ff79da;
        }
        .spin7{
            transform: rotate(180deg);
            animation-delay: -0.4166666666666667s;
            background: #ff79da;
        }
        .spin8{
            transform: rotate(210deg);
            animation-delay: -0.3333333333333333s;
            background: #ff79da;
        }
        .spin9{
            transform: rotate(240deg);
            animation-delay: -0.25s;
            background: #ff79da;
        }
        .spin10{
            transform: rotate(270deg);
            animation-delay: -0.16666666666666666s;
            background: #ff79da;
        }
        .spin11{
            transform: rotate(300deg);
            animation-delay: -0.08333333333333333s;
            background: #ff79da;
        }
        .spin12{
            transform: rotate(330deg);
            animation-delay: 0s;
            background: #ff79da;
        }    
    }
    /*Accueil - Header*/
    .header-accueil{
        width: 100%;
    }

    .header-logo{
        text-align: center;
        &__img{
            width: 160px;
            margin: 25px 0px 15px 0px;
        }
    }
    .header-position{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        box-shadow: inset 0px 5px 5px -2px #D4D4D4;
        .fa-location-dot{
            display: inline-block;
            position: relative;
            top: -2px;
            left: -15px;
            color: #353535;
        }
        &__location{
            color: #353535;
            font-family: 'Roboto-regular', serif;
            font-weight: bold;
        }
    }
    .header-infos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 55px;
        background-color: #F6F6F6;
        &__title{
        text-align: center;
        font-size: 150%;
        font-family: 'Roboto-black', serif;
        margin: 0;
        padding: 35px 50px 0px 50px;
        }
        &__paragraph{
            text-align: center;
            font-family: 'Roboto-regular', serif;
            font-size: 110%;
            color: #767676;
            margin: 15px 0px 30px 0px;
        }
        &__button{
            width: 175px;
            font-family: 'Roboto-regular', serif;
            color: #fff;
            text-decoration: none;
            font-size: 100%;
            padding: 15px 25px 15px 25px;
            background: linear-gradient(#FF79DA, #9356DC);
            border-radius: 50px;
            box-shadow: 0px 5px 8px 0px #CFCFCF;
            &:hover{
                background: linear-gradient(#9356DC, #FF79DA);
            }
        }
    }
        /*Accueil - Informations*/
    .rules{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 440px;
    }
    .rules-title{
        font-family: 'Roboto-black', serif;
        margin: 0;
        padding: 40px 0px 35px 20px;
    }
    .rules-list{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto-regular', serif;
        &__text{
            display: flex;
            align-items: center;
            background-color: #F6F6F6;
            border-radius: 20px;
            box-shadow: 0px 5px 8px 0px #CFCFCF;
            height: 70px;
            font-weight: bold;
            margin: 0px 20px 30px 25px;
            cursor: default;
            .fa-solid{
                color: #7E7E7E;
                padding: 0px 30px 0px 10px;
                }
            &:hover{
                background-color: #F5EDFF;
                .fa-solid{
                    color: #9356DC;
                }
            }
        }
    }
    .rules-list__number{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -13px;
        color: #fff;
        background-color: #9356DC;
        font-size: 85%;
        font-family: 'Roboto-thin', serif;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        overflow: visible;
    }
        /*Accueil - Liste restaurants*/
    .resto{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1230px;
        background-color: #F6F6F6;
    }
    .resto-title{
        font-family: 'Roboto-black', serif;
        margin: 0;
        padding: 45px 0px 0px 20px;
    }
    .resto-grid{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .resto-card{
        overflow: hidden;
        width: 337px;
        height: 250px;
        font-family: 'Roboto-regular', serif;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 0px 5px 8px 0px #CFCFCF;
        margin-bottom: 20px;
        a{
            text-decoration: none;
            color: #000000;    
        }
        &__img{
            height: 175px;
            margin: 0;
            overflow: hidden;
        }
        &__title{
            font-size: 80%;
            font-family: 'Roboto-black', serif;
            padding: 10px 0px 5px 10px;
        }
        &__location{
            margin: 0;
            padding: 0px 0px 0px 10px;
        }
        &__new{
            position: relative;
            top: -240px;
            left: 240px;
            width: 80px;
            padding: 5px 0px 5px 0px;
            font-size: 10px;
            text-align: center;
            color: #008766;
            background-color: #99E2D0;
        }
        .fa-heart{
            color: #fff;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            position: relative;
            top: -40px;
            left: 285px;
            font-size: 150%;
            cursor: pointer;
        }
        .fa-heart:hover{
            background: linear-gradient(to bottom left, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0;
        }
    }
            /*Images - Tailles et position*/
    #Palette-goût-accueil{
        width: 100%;
        object-fit: cover;
        object-position: 1px -50px;
    }
    #Note-enchantée-accueil{
        width: 100%;
        object-fit: cover;
        object-position: 1px -150px;
    }
    #La-française-accueil{
        width: 100%;
        object-fit: cover;
        object-position: 1px -50px;
    }
    #Délice-sens-accueil{
        width: 100%;
        object-fit: cover;
        object-position: 1px -50px;
    }
        /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 195px;
        background-color: #353535;
        h1{
            font-family: 'Shrikhand', serif;
            color: #fff;
            font-weight: normal;
            font-size: 115%;
            padding: 20px 0px 20px 20px;
        }
    }
    .footer-lien{
        display: flex;
        flex-direction: column;
        & a{
            color: #fff;
            font-family: 'Roboto-regular', serif;
            text-decoration: none;
            margin: 0px 0px 10px 20px;
            font-size: 95%;
            &:hover{
                color: #FF79DA;
            }
        }
        .fa-utensils{
            margin-right: 14px;
        }
        .fa-handshake-angle{
            margin-right: 12px;
        }
    }

    /*Pages menus*/
        /*Menus - Header*/
    .header-menu{
        width: 100%;
    } 
    .fa-arrow-left{
        position: relative;
        top: 40px;
        left: 20px;
        color: #353535;
    }
    /*Menus*/
    .menu{
        width: 100%;
        height: 1420px;
    }
        /*Menus - Header*/
    .menu-header{
        width: 100%;
        height: 275px;
        overflow: hidden;
    }
    #La-française-menu{
        width: 110%;
        object-fit: cover;
        object-position: -20px 0px;
    }
    #Note-enchantée-menu{
        width: 100%;
        object-fit: cover;
        object-position: 0px -110px;
    }
    #Palette-goût-menu{
        width: 110%;
        object-fit: cover;
        object-position: -20px -10px;
    }
    #Délice-sens-menu{
        width: 100%;
        object-fit: cover;
        object-position: 0px 0px;
    }
        /*Menu - Liste*/
    .menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -40px;
        width: 100%;
        height: 1180px;
        border-radius: 40px 40px 0px 0px;
        background-color: #F6F6F6;
    }
    .menu-name{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__title{
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        padding: 30px 0px 20px 20px;
        }
        .fa-heart{
            color: #fff;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-size: 150%;
            padding: 30px 40px 20px 0px;
            cursor: pointer;
        }
        .fa-heart:hover{
            background: linear-gradient(to bottom left, #9356DC, #FF79DA);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0;
        }
    }
        /*Menus*/
    .menu-title{
        font-family: 'Roboto-thin', serif;
        font-size: 11px;
        padding: 15px 0px 5px 0px;
        margin: 0px 0px 15px 20px;
        width: 40px;
        border-bottom: 2px solid #99E2D0;
    }
    .menu-select{
        position: relative;
        overflow: hidden;
        width: 350px;
        height: 70px;
        margin: 0px 10px 15px 10px;
        background-color: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0px 5px 8px 0px #CFCFCF;
        cursor: pointer;
        &:hover .menu-select__title{
            width: 210px;
        }
        &:hover .menu-select__prix{
            transform: translate(0px);
        }
        &:hover .menu-select__check{
            transform: translate(0px);
        }
        &:hover .fa-circle-check{
            transform: rotate(360deg);
        }
        &__title{
            font-family: 'Roboto-regular', serif;
            font-size: 18px;
            font-weight: bold;
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            padding: 10px 0px 0px 10px;
            line-height: 26px;
            transition: width .5s linear;
            > span{
                font-size: 15px;
                font-weight: normal;
                margin: 0;
            }
        }
        &__prix{
            font-family: 'Roboto-regular', serif;
            font-size: 15px;
            font-weight: bold;
            position: absolute;
            top: 0px;
            left: 240px;
            margin: 0;
            padding: 40px 20px 10px 0px;
            transform: translate(60px);
            transition: transform .5s linear;
        }
        &__check{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0px;
            left: 290px;
            width: 60px;
            height: 70px;
            background-color: #99E2D0;
            border-radius: 0px 15px 15px 0px;
            transform: translate(60px);
            transition: transform .5s linear;
        }
        .fa-circle-check{
        color: #FFFFFF;
        font-size: 140%;
        transform: rotate(0deg);
        transition: transform .5s linear;
        }

    }
    /*Menu - Bouton commander*/
    .menu-button{
    font-family: 'Roboto-regular', serif;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin: 30px 0px 50px 0px;
    padding: 13px 45px 13px 45px;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    box-shadow: 0px 5px 8px 0px #CFCFCF;
        &:hover{
            background: linear-gradient(#9356DC, #FF79DA);
        }
    }
    /*Menu - Animations*/
    @keyframes menuprogress{
        0%{opacity: 0;}
        100%{opacity: 1;}
    }

    .menu-entrées{
        animation: menuprogress 1s;
    }
    .delay-entrée1{
        animation: menuprogress 1s 0.5s backwards;
    }
    .delay-entrée2{
        animation: menuprogress 1s 1s backwards;
    }
    .delay-entrée3{
        animation: menuprogress 1s 1.5s backwards;
    }
    .menu-plats,.delay-entrée4{
        animation: menuprogress 1s 2s backwards;
    }
    .delay-plat1,.delay-plat{
        animation: menuprogress 1s 2.5s backwards;
    }
    .delay-plat2,.delay-plat1bis{
        animation: menuprogress 1s 3s backwards;
    }
    .delay-plat3,.delay-plat2bis{
        animation: menuprogress 1s 3.5s backwards;
    }
    .menu-desserts,.delay-plat3bis{
        animation: menuprogress 1s 4s backwards;
    }
    .delay-dessert1,.delay-dessert{
        animation: menuprogress 1s 4.5s backwards;
    }
    .delay-dessert2,.delay-dessert1bis{
        animation: menuprogress 1s 5s backwards;
    }
    .delay-dessert3,.delay-dessert2bis{
        animation: menuprogress 1s 5.5s backwards;
    }
    .delay-dessert3bis{
        animation: menuprogress 1s 6s backwards;
    }
}